{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas{% endblock %}
{% block content %}
<br>
  <div class="container shadow-sm rounded px-3" style="background-image: url('{% static 'img/banner-2.jpg' %}'); margin-bottom: 100px;">
    <div class="row">
      <div class="col-lg-3 col-md-4"></div>
      <div class="col-lg-6 col-md-4 my-3" style="background-color: rgba(255, 255, 255, 0.6);">
        <h1 class="text-center">
          <i class="fas fa-paw"></i>
          ¡Te has desconectado!
          <i class="fas fa-paw"></i>
        </h1>
        <br>
        <h4  class="text-center"><a href="{% url 'login'%}">Ingresa nuevamente</a></h4>
      </div>
    </div>
  </div>

{%endblock%}