{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas{% endblock %}
{% block content %}
<br>
  <div class="container shadow-sm rounded px-3" style="background-image: url('{% static 'img/banner-2.jpg' %}'); margin-bottom: 100px;">
    <div class="row">
      <div class="col-lg-3 col-md-4"></div>
      <div class="col-lg-6 col-md-4 my-3" style="background-color: rgba(255, 255, 255, 0.6);">
        <h1 class="text-center">
          <i class="fas fa-paw"></i>
          Cambio de contraseña
          <i class="fas fa-paw"></i>
        </h1>
        <br>
        <form action="" method="post">{% csrf_token %}
           {% if form.email.errors %} {{ form.email.errors }} {% endif %}
               <p>{{ form.email }}</p>
           <input type="submit" class="btn btn-default btn-lg" value="Cambio de contraseña" />
        </form>
      </div>
    </div>
  </div>


{%endblock%}