{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas{% endblock %}
{% block content %}

{% if validlink %}
<br>
  <div class="container shadow-sm rounded px-3" style="background-image: url('{% static 'img/banner-2.jpg' %}'); margin-bottom: 100px;">
    <div class="row">
      <div class="col-lg-3 col-md-4"></div>
      <div class="col-lg-6 col-md-4 my-3" style="background-color: rgba(255, 255, 255, 0.6);">
        <h1 class="text-center"> Cambia la contraseña </h1>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar contraseña" /></td>
                </tr>
            </table>
        </form>
      </div>
    </div>
  </div>
    {% else %}
    <br>
  <div class="container shadow-sm rounded px-3" style="background-image: url('{% static 'img/banner-2.jpg' %}'); margin-bottom: 100px;">
    <div class="row">
      <div class="col-lg-3 col-md-4"></div>
      <div class="col-lg-6 col-md-4 my-3" style="background-color: rgba(255, 255, 255, 0.6);">
        <h1 class="text-center"> No se puede realizar el cambio de contraseña</h1>
        <h4 class="text-center">El enlace es invalido, por favor intente nuevamente.</h4>
      </div>
    </div>
  </div>

    {% endif %}
{%endblock%}