{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas - Perfil{% endblock %}
{% block content %}
<br>
  <div class="container shadow-sm rounded px-3" style="background-image: url('{% static 'img/banner-2.jpg' %}'); margin-bottom: 100px;">
    <div class="row">
      <div class="col-lg-3 col-md-12"></div>
      <div class="col-lg-6 col-md-12 my-3" style="background-color: rgba(255, 255, 255, 0.6);">
        <h1 class="text-center">
          <i class="fas fa-paw"></i>
          ¡Hola {{ user.username }}!
          <i class="fas fa-paw"></i>
        </h1>

         <form  method="POST" class="g-3 needs-validation" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="validationCustomUsername" class="form-label">Nombre de Usuario</label>
            <div class="input-group has-validation">
              <input type="text" name="username" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required value="{{user.username}}"> 
              <div class="invalid-feedback">
                Por favor digite un nombre de usuario.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="validationCustomUsername" class="form-label">E-mail</label>
            <div class="input-group has-validation">
              <input type="text" name="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required value="{{user.email}}">
              <div class="invalid-feedback">
                Por favor digite un E-mail.
              </div>
            </div>
          </div>
          <button class="btn btn-primary mb-3" type="submit">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
{%endblock%}
