{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas{% endblock %}
{% block content %}
  <div class="container bg-white shadow-sm rounded my-2">
    <div class="rounded pb-2" style="background-image: url('{% static 'img/banner-1.jpg' %}');">
      <h1 class="text-center mt-3">Animalitos en adopción</h1>
      <div class="d-flex justify-content-center">
        <p class="descripcion">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aliquam quidem? Possimus
        </p>
      </div>
      <div class="d-flex justify-content-center">
        <h4 class="mt-2"> Selecciona el tipo de animal </h4>
        <select class="form-select ms-2 py-2" aria-label="Default select example" style="height: 44px; width: 130px;">
          <option selected>Todos</option>
          <option value="1">Perros</option>
          <option value="2">Gatos</option>
          <option value="3">Conejos</option>
          <option value="4">Chocollos</option>
        </select>
      </div>
    </div>
    <hr>

    <div class="row pb-2">
      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-1.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-2.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-3.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-4.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-5.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-6.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-7.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-2">
        <div class="card">
          <img src="{% static 'img/cv-1.jpg' %}" class="card-img-top" alt="..." height="175">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet qui, a eos Amet qui, a eos</p>
            <div class="d-flex justify-content-center">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock%}