{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas{% endblock %}
{% block content %}
  <div class="container bg-white shadow-sm rounded my-2 pb-1">
    <h1 class="text-center">
      <i class="fas fa-paw"></i>
      Historias
      <i class="fas fa-paw"></i>
    </h1>
    <hr>
    <div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100" src="{% static 'img/bl-1.jpg' %}" alt="..." style="height: 250px;">
          </div>
          <div class="col-md-8 position-relative">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
            <p class="position-absolute bottom-0 end-0 me-5 mb-2"> <small class="text-muted">hace 3 min</small> </p>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100" src="{% static 'img/bl-2.jpg' %}" alt="..." style="height: 250px;">
          </div>
          <div class="col-md-8 position-relative">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
            <p class="position-absolute bottom-0 end-0 me-5 mb-2"> <small class="text-muted">hace 3 min</small> </p>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100" src="{% static 'img/bl-3.jpg' %}" alt="..." style="height: 250px;">
          </div>
          <div class="col-md-8 position-relative">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
            <p class="position-absolute bottom-0 end-0 me-5 mb-2"> <small class="text-muted">hace 3 min</small> </p>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100" src="{% static 'img/bl-4.jpg' %}" alt="..." style="height: 250px;">
          </div>
          <div class="col-md-8 position-relative">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
            <p class="position-absolute bottom-0 end-0 me-5 mb-2"> <small class="text-muted">hace 3 min</small> </p>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100" src="{% static 'img/bl-5.jpg' %}" alt="..." style="height: 250px;">
          </div>
          <div class="col-md-8 position-relative">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
            <p class="position-absolute bottom-0 end-0 me-5 mb-2"> <small class="text-muted">hace 3 min</small> </p>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="w-100" src="{% static 'img/bl-1.jpg' %}" alt="..." style="height: 250px;">
          </div>
          <div class="col-md-8 position-relative">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
            <p class="position-absolute bottom-0 end-0 me-5 mb-2"> <small class="text-muted">hace 3 min</small> </p>
          </div>
        </div>
      </div>

    </div>
  </div>
{%endblock%}