{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas{% endblock %}
{% block content %}
  <div class="container bg-white shadow-sm rounded my-2 pb-1">
    <h1 class="text-center">Historias</h1>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'img/cv-3.jpg' %}" class="d-block w-100 rounded" height="400" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/cv-5.jpg' %}" class="d-block w-100 rounded" height="400" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'img/cv-6.jpg' %}" class="d-block w-100 rounded" height="400" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum incidunt beatae fugiat iusto unde, tempore magnam reprehenderit.
        Cum illum temporibus saepe, voluptatum dignissimos aliquam maxime porro, harum dicta nisi quaerat.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum incidunt beatae fugiat iusto unde, tempore magnam reprehenderit.
        Cum illum temporibus saepe, voluptatum dignissimos aliquam maxime porro, harum dicta nisi quaerat.
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum incidunt beatae fugiat iusto unde, tempore magnam reprehenderit.
        Cum illum temporibus saepe, voluptatum dignissimos aliquam maxime porro, harum dicta nisi quaerat.
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <div class="mx-auto" style="width: 300px;">
          <img src="img/fd-2" class="rounded" alt="" width="300" height="200">
        </div>
        <a href="#" class="btn btn-primary d-block mt-2">Contáctanos</a>
      </div>
    </div>
  </div>
{%endblock%}