{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas{% endblock %}
{% block content %}
  <div class="container bg-white shadow-sm rounded my-2 pb-1">
    <h1 class="text-center">Contactanos</h1>
    <div class="mx-auto" style="width: 550px; height: 400px;"> 
      <img src="{% static 'img/logo/cubierta.png' %}" alt="" class="rounded w-100 h-100">
    </div>

    <div class="mt-4">
      <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-3">
              <label for="form-org" class="col-form-label">Organización</label>
            </div>
            <div class="col-7">
              <select class="form-select" id="form-org" required>
                <option selected disabled value="">Organización</option>
                <option value="1">Proteccion animal</option>
                <option value="1">Proteccion animal</option>
                <option value="1">Proteccion animal</option>
              </select>
              <div class="invalid-feedback">
                Porfavor seleccione una organizacion
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">
              <label for="form-title" class="col-form-label">Titulo del mensaje</label>
            </div>
            <div class="col-8">
              <input type="text" id="form-title" class="form-control" required>
              <div class="invalid-feedback">
                Porfavor rellenar este campo
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">
              <label for="form-email" class="col-form-label">Email del usuario</label>
            </div>
            <div class="col-8">
              <input type="text" id="form-email" class="form-control" required>
              <div class="invalid-feedback">
                Porfavor rellenar este campo
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">
              <label for="form-mensaje" class="col-form-label">Mensaje</label>
            </div>
            <div class="col-9">
              <textarea type="text" id="form-mensaje" class="form-control" required></textarea>
              <div class="invalid-feedback">
                Porfavor rellenar este campo
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-2">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
{%endblock%}