{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas - Formulario{% endblock %}
{% block content %}

<div class="container shadow-sm rounded px-3" style="background-image: url('{% static 'img/banner-2.jpg' %}'); margin-bottom: 100px;">
  <div class="row">
    <div class="col-lg-3 col-md-12"></div>
    <div class="col-lg-6 col-md-12 my-3" style="background-color: rgba(255, 255, 255, 0.6);">
      <h1 class="text-center">
        <i class="fas fa-paw"></i>
           Organización
        <i class="fas fa-paw"></i>
      </h1>

      <hr>
      <form class="g-3 needs-validation" novalidate method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <div style="color:red;">{{ form.name.errors }}</div>
          <label for="OrgName" class="form-label">Nombre</label>
          <input type="hidden" name="user" value="{{user.id}}">
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="OrgName" aria-describedby="inputGroupPrepend" required name="name" value="{{ organization.name }}">
            <div class="invalid-feedback">
              Por favor digite un nombre.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.description.errors }}</div>
          <label for="OrgDescription" class="form-label">Descripción</label>
          <div class="input-group has-validation">
            <textarea class="form-control" id="OrgDescription" aria-describedby="inputGroupPrepend" required name="description">{{ organization.description }}</textarea>
            <div class="invalid-feedback">
              Por favor digite una descripción.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.support.errors }}</div>
          <label for="OrgSupport" class="form-label">Ingresa medio para donar</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="OrgSupport" aria-describedby="inputGroupPrepend" required name="support" value="{{ organization.support }}">
            <div class="invalid-feedback">
              Por favor digite un medio para donar.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.mail.errors }}</div>
          <label for="OrgMail" class="form-label">Email</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="OrgMail" aria-describedby="inputGroupPrepend" required name="mail" value="{{ organization.mail }}">
            <div class="invalid-feedback">
              Por favor digite un email.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.phone.errors }}</div>
          <label for="OrgPhone" class="form-label">Teléfono</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="OrgPhone" aria-describedby="inputGroupPrepend" required name="phone" value="{{ organization.phone }}">
            <div class="invalid-feedback">
              Por favor digite un teléfono.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="city" class="form-label">Departamento</label>
          <select class="form-select" name="city">
            {% for city in citys %}
              {% if city == organization.city %}
                <option value="{{city}}" selected="selected">{{city}}</option>
              {% else %}
                <option value="{{city}}">{{city}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.img.errors }}</div> 
          <label for="OrgImg" class="form-label">Imagen</label>
          <div class="input-group has-validation">
            <input type="file" class="form-control" accept="image/*" id="OrgImg" aria-describedby="inputGroupPrepend" name="img" >
          </div>
        {%if organization.img%}
            <div>
              <br>
              <p>Imagen:</p>
               <img src="{{organization.img.url}}" height="100" wigth="100" alt="...">
            </div>
        {%endif%}
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.fb_url.errors }}</div>
          <label for="Orgfb_url" class="form-label">Facebook</label>
          <div class="input-group">
            <input type="text" class="form-control" name="fb_url" value="{{ organization.fb_url }}">
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.ig_url.errors }}</div>
          <label for="Orgig_url" class="form-label">Instagram</label>
          <div class="input-group">
            <input type="text" class="form-control" name="ig_url" value="{{ organization.ig_url }}">
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.yt_url.errors }}</div>
          <label for="Orgyt_url" class="form-label">YouTube</label>
          <div class="input-group">
            <input type="text" class="form-control" name="yt_url" value="{{ organization.yt_url }}">
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.tw_url.errors }}</div>
          <label for="Orgtw_url" class="form-label">Twitter</label>
          <div class="input-group">
            <input type="text" class="form-control" name="tw_url" value="{{ organization.tw_url }}">
          </div>
        </div>
        <div>
          <button class="btn btn-primary mb-3" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}