{% extends "layout.html" %}
{% load static %}
{% block title %}Adopta Mascotas - Formulario{% endblock %}
{% block content %}

<div class="container shadow-sm rounded px-3" style="background-image: url('{% static 'img/banner-2.jpg' %}'); margin-bottom: 100px;">
  <div class="row">
    <div class="col-lg-3 col-md-12"></div>
    <div class="col-lg-6 col-md-12 my-3" style="background-color: rgba(255, 255, 255, 0.6);">
      <h1 class="text-center">
      <i class="fas fa-paw"></i>
      Mascota
      <i class="fas fa-paw"></i>
      </h1>
      <hr>
      <form class="g-3 needs-validation" novalidate method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="organization" value="{{organization}}">
        <div class="mb-3">
         <div style="color:red;"> {{ form.name.errors }}</div>
          <label for="PetName" class="form-label">Nombre</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="PetName" aria-describedby="inputGroupPrepend" required name="name" value="{{ object.name }}">
            <div class="invalid-feedback">
              Por favor digite un nombre.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.description.errors }}</div>
          <label for="PetDescription" class="form-label">Descripción</label>
          <div class="input-group has-validation">
            <textarea class="form-control" id="PetDescription" aria-describedby="inputGroupPrepend" required name="description">{{ object.description }}</textarea>
            <div class="invalid-feedback">
              Por favor digite una descripción.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="type" class="form-label">Tipo</label>
          <select class="form-select" name="pet_type">
            {% for type in pet_type %}
              {% if type == organization.type %}
                <option value="{{type}}" selected="selected">{{type}}</option>
              {% else %}
                <option value="{{type}}">{{type}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.breed.errors }}</div>
          <label for="PetBreed" class="form-label">Raza</label>
          <div class="input-group">
            <input type="text" class="form-control" id="PetBreed" aria-describedby="inputGroupPrepend" name="breed" value="{% if object.breed %}{{ object.breed }}{% else %}No se sabe{% endif %}">
          </div>
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.age.errors }}</div>
          <label for="PetAge" class="form-label">Edad</label>
          <div class="input-group has-validation">
            <input type="number" class="form-control" id="PetAge" min="1" max="20" required name="age" value="{{ object.age }}">
            <div class="invalid-feedback">
              Por favor digite una Edad.
            </div>
          </div>
        </div>

        <div class="mb-3 form-check form-switch">
          <label class="form-check-label" for="PetCastrated">Castrado</label>
          <input class="form-check-input" type="checkbox" id="PetCastrated" name="castrated"
          {% if object.castrated %}
            checked
          {% endif %}
          >
        </div>

        <div class="mb-3">
          <div style="color:red;">{{ form.illness.errors }}</div>
          <label for="PetIllness" class="form-label">Enfermedades</label>
          <div class="input-group">
            <textarea class="form-control" id="PetIllness" aria-describedby="inputGroupPrepend" name="illness">{% if object.illness %}{{ object.illness }}{% else %}No tiene{% endif %}</textarea>
          </div>
        </div>
        <div>
          <button class="btn btn-primary mb-3" type="submit">Enviar</button>
          <button class="btn btn-danger mb-3" onclick="javascript:history.back();">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}